# --------------------
# Python / Django
# --------------------
virtual/
__pycache__/
*.pyc
.env
db.sqlite3

# --------------------
# Django static & media
# --------------------
staticfiles/
media/

# --------------------
# Node / React (abhi ignore)
# --------------------
frontend/
package.json
package-lock.json

# --------------------
# Build / deploy extras
# --------------------
build.sh

# --------------------
# OS / Editor files
# --------------------
.DS_Store
.vscode/
